/* imports fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-color: #0a192f;
    --secundary-color: #5deecd;
    --text-color-1: #ffffff;
    --text-color-2: #8892b0;
    
    --font-primary: Roboto;
    --font-secundary: IBM Plex Mono;

    font-size: 62.5%;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: var(--bg-color);
    position: fixed;
    width: 100vmax;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    top: 0;
    z-index: 1;
}

.header__logo {
    text-decoration: none;
    font-size: 2.4rem;
    font-family: var(--font-secundary);
    color: var(--text-color-1);
}
.header__logo-dev {
    color: var(--secundary-color);
}

.header__nav {

}
.header__menu {
    list-style-type: none;
}
.header__menu-list {
    display: inline-block;
    margin-left: 2rem;    
}
.header__menu-list a {
    text-decoration: none;
    color: var(--text-color-1);
    font-family: var(--font-secundary);
    font-size: 1.8rem;
    transition: 0.3s;
}
.header__menu-list a:hover {
    color: var(--secundary-color);
}

.home { 
    height: 100vh;
    width: 100vmax;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
}
.home__content {
    max-width: 550px;
}
.home__title {
    font-family: var(--font-primary);
    font-size: 4.8rem;
    color: var(--text-color-1);
    font-weight: bold;
    margin-bottom: 5px;
}
.home__job {
    font-family: var(--font-primary);
    font-size: 4.8rem;
    color: var(--text-color-2);
    font-weight: bold;
}
.home__bio {
    font-family: var(--font-primary);
    font-size: 1.6rem;
    color: var(--text-color-2);
    margin: 18px 0 40px;
}

.home__buttons {
    display: flex;
    flex-wrap: wrap;      
}
.home__button {
    text-decoration: none;
    font-family: var(--font-secundary);
    font-size: 1.4rem;
    font-weight: 500;
    border: 2px solid var(--secundary-color);
    border-radius: 10px;
    padding: 13px 20px;
    margin-right: 34px;
    transition: color 0.3s, background-color 0.3s;
}

.home__button-cv {
    color: var(--bg-color);
    background-color: var(--secundary-color);
}
.home__button-cv:hover {
    color: var(--secundary-color);
    background-color: transparent;
}

.home__button-contact {
    color: var(--secundary-color);
    background-color: transparent;
}
.home__button-contact:hover {
    color: var(--bg-color);
    background-color: var(--secundary-color);
}